.bannertwo {
 background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0.2) 75%), url(../../images/team.jpg);
 color: white;
 padding: 285px 0px;
 padding-top: 219px;
 background-size: cover;
 background-position: center;
 margin-bottom: 120px;
}

.bannertwo h1 {
  font-size: 50px;
}
.bannertwo h2 {
  font-size: 30px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 40px;
  padding-bottom : 230px;
